.stylish-select .selectedTxt{
	padding: 0 20px 0 11px;
}

.woocommerce-pagination {
	margin-bottom: 30px;
}

.woocommerce-page ul.products li.product a img, 
.woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img, 
.woocommerce-page ul.products li.product a:hover img  {
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
	border: 0;
}

.woocommerce ul.products li.product h3, 
.woocommerce-page ul.products li.product h3,
.woocommerce_shortcode ul.products li h3{
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	font-family: inherit;
	font-style: italic;
	line-height: 16px;
	margin: 0px 0px 10px 0px;	
}

.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce #respond input#submit, 
.woocommerce #content input.button, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page #content input.button,
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce #content input.button.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page #content input.button.alt{
	background: none;
	font-size: 15px;
	border: 0px;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	line-height: 20px;
	padding: 8px 16px;	
	font-weight: 400;
	width: auto;
	color: #ffffff;
	background-color: #252525;
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
	border-radius: 0px;
	text-shadow: 0 0 0;
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
	text-decoration: none;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;	
}

.woocommerce table.cart input, 
.woocommerce #content table.cart input, 
.woocommerce-page table.cart input, 
.woocommerce-page #content table.cart input{
	line-height: 20px;
}

.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce #content input.button:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page #content input.button:hover
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce #content input.button.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page #content input.button.alt:hover{
	background: none;
	border: 0px;
	background-color: #00c6ff;
	text-shadow: 0 0 0;
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce_shortcode ul.products li.product .price{
	display: block;
	font-size: 18px;
	font-style: italic;
	color: #515151;
	font-family: inherit;
	line-height: 18px;
	margin-bottom: 20px;
}

.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins,
.woocommerce div.product span.price ins, 
.woocommerce ins.product p.price ins, 
.woocommerce #content div.product span.price ins, 
.woocommerce #content div.product p.price ins, 
.woocommerce-page div.product span.price ins, 
.woocommerce-page div.product p.price ins, 
.woocommerce-page #content div.product span.price ins, 
.woocommerce-page #content div.product p.price ins{
	text-decoration: none;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del,
.woocommerce div.product span.price del, 
.woocommerce div.product p.price del, 
.woocommerce #content div.product span.price del, 
.woocommerce #content div.product p.price del, 
.woocommerce-page div.product span.price del, 
.woocommerce-page div.product p.price del, 
.woocommerce-page #content div.product span.price del, 
.woocommerce-page #content div.product p.price del{
	color: #515151;
	float: left;
	margin: 0px 7px 0px 0px;
}

.woocommerce div.product span.price del, 
.woocommerce div.product p.price del, 
.woocommerce #content div.product span.price del, 
.woocommerce #content div.product p.price del, 
.woocommerce-page div.product span.price del, 
.woocommerce-page div.product p.price del, 
.woocommerce-page #content div.product span.price del, 
.woocommerce-page #content div.product p.price del{
	font-size: 20px;
	font-style: italic;
}

.woocommerce ul.products li.product .price del .amount,
.woocommerce-page ul.products li.product .price del .amount{
	font-size: 18px;
	font-style: italic;
	color: #515151;	
}

.woocommerce nav.woocommerce-pagination ul li{
	width: 34px;
	height: 34px;
	padding: 0px 3px 2px 0px;	
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span, 
.woocommerce #content nav.woocommerce-pagination ul li a, 
.woocommerce #content nav.woocommerce-pagination ul li span, 
.woocommerce-page nav.woocommerce-pagination ul li a, 
.woocommerce-page nav.woocommerce-pagination ul li span, 
.woocommerce-page #content nav.woocommerce-pagination ul li a, 
.woocommerce-page #content nav.woocommerce-pagination ul li span{
	background-color: #252525;
	font-family: inherit;
	color: #ffffff;
	font-size: 14px;
	padding: 0;
	line-height: 34px;
	text-decoration: none;
	display: block;
	text-align: center;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce #content nav.woocommerce-pagination ul li span.current, 
.woocommerce #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce #content nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page nav.woocommerce-pagination ul li span.current, 
.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page #content nav.woocommerce-pagination ul li span.current, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus{
	color: white;
	background-color: #00c6ff;	
}

.woocommerce a.added_to_cart, 
.woocommerce-page a.added_to_cart {
	color: #515151;
	font-size: 14px;
	text-decoration: none;
	font-style: italic;
	margin-left: 10px;
	padding-top: 0px;
}

.woocommerce div.product .product_title, 
.woocommerce #content div.product .product_title, 
.woocommerce-page div.product .product_title, 
.woocommerce-page #content div.product .product_title{
	font-family: inherit;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	line-height: 20px;
	color: #252525;
	padding: 0px;
	margin: 0px 0px 30px 0px;
}

.woocommerce div.product span.price, 
.woocommerce div.product p.price, 
.woocommerce #content div.product span.price, 
.woocommerce #content div.product p.price, 
.woocommerce-page div.product span.price, 
.woocommerce-page div.product p.price, 
.woocommerce-page #content div.product span.price, 
.woocommerce-page #content div.product p.price{
	font-size: 16px;
	color: #515151;
	font-family: inherit;
	line-height: 18px;
	margin-bottom: 20px;
} 

.woocommerce div.product form.cart div.quantity, 
.woocommerce #content div.product form.cart div.quantity, 
.woocommerce-page div.product form.cart div.quantity, 
.woocommerce-page #content div.product form.cart div.quantity{
	margin: 0 10px 0 0;
}

.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty {
	margin-bottom: 0px;
	line-height: 28px;
	color: #515151;
}

.woocommerce .quantity .plus, 
.woocommerce .quantity .minus, 
.woocommerce #content .quantity .plus, 
.woocommerce #content .quantity .minus, 
.woocommerce-page .quantity .plus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page #content .quantity .plus, 
.woocommerce-page #content .quantity .minus{
	background: none;
	background-color: #dedede;
	color: white;
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-shadow: 0 0 0;	
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
}

.woocommerce .quantity .plus:hover, 
.woocommerce .quantity .minus:hover, 
.woocommerce #content .quantity .plus:hover, 
.woocommerce #content .quantity .minus:hover, 
.woocommerce-page .quantity .plus:hover, 
.woocommerce-page .quantity .minus:hover, 
.woocommerce-page #content .quantity .plus:hover, 
.woocommerce-page #content .quantity .minus:hover {
	background: none;
	background-color: #252525;
	color: white;
}

.woocommerce .product_meta{
	font-size: 14px;
	margin-top: 20px;
}

.woocommerce .product_meta span.sku_wrapper{
	width: 100%;
	float: left;
}

.woocommerce div.product p.stock, 
.woocommerce #content div.product p.stock, 
.woocommerce-page div.product p.stock, 
.woocommerce-page #content div.product p.stock{
	font-size: 12px;
	color: #00c6ff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	border: 0px;	
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	background: none;
	float: left;
	line-height: 34px;
	margin: 0 0 -1px;
	overflow: hidden;
	padding: 0;
	position: relative;
	border: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before{
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a{
	color: #252525;
	background-color: #dedede;
	text-shadow: 0 0 0;
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a{
	color: #ffffff;
	background-color: #252525;
	display: block;
	font-size: 16px;
	font-family: inherit;
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
	padding: 0px 25px;
	height: 54px;
	line-height: 54px;
	text-decoration: none;
	text-shadow: 0 0 0;
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover{
	color: #00c6ff;
}

.woocommerce .woocommerce-tabs h2, 
.woocommerce .related h2,
.woocommerce-account .woocommerce form h3{
	color: #252525;
	font-family: inherit;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	margin: 0px 0px 15px 0px;
	border: 0px;
	padding-top: 0px;
}

.woocommerce .woocommerce-tabs #tab-description p{
	margin-bottom: 15px;
}

.woocommerce div.product div.images img, 
.woocommerce #content div.product div.images img, 
.woocommerce-page div.product div.images img, 
.woocommerce-page #content div.product div.images img{
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}

.woocommerce div.related,
.woocommerce-page div.related{
	float: left;
	display: block;
	width: 100%;
}

.woocommerce .related ul.products li.product, 
.woocommerce .related ul li.product, 
.woocommerce .upsells.products ul.products li.product, 
.woocommerce .upsells.products ul li.product, 
.woocommerce-page .related ul.products li.product, 
.woocommerce-page .related ul li.product, 
.woocommerce-page .upsells.products ul.products li.product, 
.woocommerce-page .upsells.products ul li.product{
	width: 22%;
	float: left;
	margin-right: 4%;
}

.woocommerce .related ul.products li.product.last, 
.woocommerce .related ul li.product.last {
	margin-right: 0px;
}

.woocommerce-message, 
.woocommerce-error, 
.woocommerce-info{
	border: 0px;
	background: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	text-shadow: 0 0 0;	
	-moz-text-shadow: 0 0 0;
	-webkit-text-shadow: 0 0 0;	
	color: #515151;	
	font-size: 14px;
	font-family: inherit;
	line-height: 36px;
	padding: 0px;
}

.woocommerce-message:before, 
.woocommerce-error:before, 
.woocommerce-info:before{
	background: none;
	content: "";
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom: 0px;
	box-shadow: inset 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;	
	text-shadow: 0 0 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{
	border: 0px;
}

.woocommerce div.product .woocommerce-tabs .panel, 
.woocommerce #content div.product .woocommerce-tabs .panel, 
.woocommerce-page div.product .woocommerce-tabs .panel, 
.woocommerce-page #content div.product .woocommerce-tabs .panel {
	overflow: hidden;
	background-color: #dedede;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	padding: 25px;
}

.woocommerce table.shop_attributes th, 
.woocommerce-page table.shop_attributes th, 
.woocommerce table.shop_attributes td, 
.woocommerce-page table.shop_attributes td{
	padding: 15px 25px;
	text-align: left;
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;	
	border: 0px;
}

.woocommerce table.shop_attributes, 
.woocommerce-page table.shop_attributes{
	border: 0px;
}

.woocommerce table.cart th, 
.woocommerce table.cart td, 
.woocommerce #content table.cart th, 
.woocommerce #content table.cart td, 
.woocommerce-page table.cart th, 
.woocommerce-page table.cart td, 
.woocommerce-page #content table.cart th, 
.woocommerce-page #content table.cart td{
	padding: 15px 25px;
	text-align: left;	
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;		
}

.woocommerce table.shop_table tbody tr:nth-child(2n) td{
	background-color: #dedede;
}

.woocommerce table.shop_table tbody tr:last-child td{
	background-color: transparent;
}

.woocommerce .quantity, 
.woocommerce #content .quantity, 
.woocommerce-page .quantity, 
.woocommerce-page #content .quantity{
	float: left;
}

.woocommerce table.shop_table, 
.woocommerce-page table.shop_table{
	border: 0px;
}

.woocommerce table.shop_table thead, 
.woocommerce-page table.shop_table thead{
	background-color: #252525;
}

.woocommerce table.cart th, 
.woocommerce #content table.cart th, 
.woocommerce-page table.cart th, 
.woocommerce-page #content table.cart th{
	color: white;
}

.woocommerce table.cart td.actions, 
.woocommerce #content table.cart td.actions, 
.woocommerce-page table.cart td.actions, 
.woocommerce-page #content table.cart td.actions{
	padding-left: 0px;
	padding-right: 0px;
}

.woocommerce table.cart a.remove, 
.woocommerce #content table.cart a.remove, 
.woocommerce-page table.cart a.remove, 
.woocommerce-page #content table.cart a.remove{
	color: black;
}

.woocommerce table.cart a.remove:hover, 
.woocommerce #content table.cart a.remove:hover, 
.woocommerce-page table.cart a.remove:hover, 
.woocommerce-page #content table.cart a.remove:hover{
	background: none;
	color: black;
}

.woocommerce .cart_totals h2, 
.woocommerce .shipping_calculator h2{
	color: #252525;
	font-family: inherit;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	margin: 0px 0px 10px 0px;	
	border: 0px;	
	padding-top: 10px;
}

.woocommerce .shipping_calculator h2 a{
	text-decoration: none;
}

.woocommerce .cart-collaterals .cart_totals table, 
.woocommerce-page .cart-collaterals .cart_totals table{
	float: right;
}

.woocommerce .cart-collaterals .cart_totals tr td, 
.woocommerce .cart-collaterals .cart_totals tr th, 
.woocommerce-page .cart-collaterals .cart_totals tr td, 
.woocommerce-page .cart-collaterals .cart_totals tr th{
	border: 0px;
	padding: 10px 15px;
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;		
}

.woocommerce .cart-collaterals .cart_totals tr:nth-child(2n) td,
.woocommerce .cart-collaterals .cart_totals tr:nth-child(2n) th,
.woocommerce-page .cart-collaterals .cart_totals tr:nth-child(2n) td,
.woocommerce-page .cart-collaterals .cart_totals tr:nth-child(2n) th{
	background-color: #dedede;
}

.woocommerce #billing_country_chzn,
.woocommerce #shipping_country_chzn,
.woocommerce #billing_state_chzn, 
.woocommerce #shipping_state_chzn{
	width: 100%;
	color: #ffffff;
	height: 38px;
	line-height: 38px;
	padding: 0px;
	background-color: #383838;
	font-size: 14px;
	font-style: italic;
	text-align: left;
}

.woocommerce .chzn-container-single .chzn-single{
	background: none;
	border: 0px;
	box-shadow: 0 0 0;
	border-radius: 0px;
}

.chzn-container-single .chzn-single{
	filter: none !important;
}

.woocommerce .chzn-container-single span{
	color: white;
	padding: 5px 25px 0 5px;
	font-weight: normal;
	font-style: italic;
	font-family: inherit;
}

.woocommerce .chzn-container .chzn-results{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #252525;
	background: #cccccc;
	overflow: auto;
	font-weight: bold;
}

.woocommerce .chzn-container .chzn-results .result-selected{
	background-image: url('../img/hlite.png');
	background-position: right center;
	background-repeat: no-repeat;	
}

.woocommerce .chzn-container-single .chzn-search{
	background: none;
	background-color: #cccccc;
}

.woocommerce .chzn-container .chzn-results .no-results{
	background-color: #cccccc;
}

.woocommerce .chzn-container .chzn-results .no-results span{
	color: #515151;	
	padding-right: 10px;
}

.woocommerce-checkout .form-row .chzn-container-single .chzn-search input{
	background: none;
	background-color: #383838;
	color: white;
}

.woocommerce .chzn-container-single .chzn-drop, .chzn-container .chzn-drop{
	box-shadow: 0 0 0;
}

.woocommerce .chzn-container-single .chzn-drop ul li:hover,
.woocommerce .chzn-container-single .chzn-drop ul li.highlighted{
	color: white;
	background: none;
	background-color: #bababa;
}

.woocommerce form .form-row textarea, 
.woocommerce-page form .form-row textarea {
	height: 120px;
}

.woocommerce-checkout .form-row .chzn-container-single .chzn-single div b{
	background: none !important;
	background-image: url('../img/select-bg.png') !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	height: 38px;	
}

.woocommerce a.button.added:before, 
.woocommerce button.button.added:before, 
.woocommerce input.button.added:before, 
.woocommerce #respond input#submit.added:before, 
.woocommerce #content input.button.added:before, 
.woocommerce-page a.button.added:before, 
.woocommerce-page button.button.added:before, 
.woocommerce-page input.button.added:before, 
.woocommerce-page #respond input#submit.added:before, 
.woocommerce-page #content input.button.added:before{
	background: none;
}

.stylish-select .SSContainerDivWrapper{
	width: 100%;
}

.woocommerce table.shop_table thead tr th, 
.woocommerce-page table.shop_table thead tr th{
	color: white;
	padding: 15px 25px;
	text-align: left;
	font-family: inherit;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;	
	border: 0px;
	text-transform: uppercase;	
}

.woocommerce table.shop_table tbody td, 
.woocommerce-page table.shop_table tbody td,
.woocommerce table.shop_table tfoot tr th, 
.woocommerce-page table.shop_table tfoot tr th,
.woocommerce table.shop_table tfoot tr td, 
.woocommerce-page table.shop_table tfoot tr td{
	padding: 15px 25px;
	text-align: left;	
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;	
	border: 0px;	
}

.woocommerce table.shop_table tfoot tr:nth-child(2n) th, 
.woocommerce-page table.shop_table tfoot tr:nth-child(2n) th,
.woocommerce table.shop_table tfoot tr:nth-child(2n) td, 
.woocommerce-page table.shop_table tfoot tr:nth-child(2n) td{
	background-color: #dedede;
}	

.woocommerce form.login, 
.woocommerce form.checkout_coupon, 
.woocommerce form.register, 
.woocommerce-page form.login, 
.woocommerce-page form.checkout_coupon, 
.woocommerce-page form.register{
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.woocommerce form.lost_reset_password .form-row, 
.woocommerce-page form.lost_reset_password .form-row{
	float: left;
}

.woocommerce form.checkout .form-row input#createaccount, 
.woocommerce-page form.checkout .form-row input#createaccount{
	width: auto;
}

.woocommerce #payment, 
.woocommerce-page #payment{
	background-color: #dedede;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.woocommerce #payment ul li input.input-radio, 
.woocommerce-page #payment ul li input.input-radio{
	height: 37px;
	vertical-align: bottom;
}

.woocommerce #payment ul.payment_methods li label, 
.woocommerce-page #payment ul.payment_methods li label{
	padding: 5px 5px;
	text-align: left;	
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;	
}

.woocommerce #payment ul.payment_methods li, 
.woocommerce-page #payment ul.payment_methods li{
	line-height: 3em;
} 

.woocommerce #payment ul.payment_methods li .payment_box p, 
.woocommerce-page #payment ul.payment_methods li .payment_box p{
	margin-top: 0px;
}

.woocommerce #payment div.payment_box, 
.woocommerce-page #payment div.payment_box{
	background: none;
	background-color: #e6e6e6;
	box-shadow: 0 0 0;
	text-shadow: 0 0 0;
	border-radius: 0;
	text-align: left;	
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	margin-top: 10px;
}

.woocommerce #payment div.form-row, 
.woocommerce-page #payment div.form-row,
.woocommerce #payment div.payment_box:after, 
.woocommerce-page #payment div.payment_box:after{
	border: 0px;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order{
	float: left;
}

.woocommerce .addresses .title{
	position: relative;
}

.woocommerce-page ul.order_details li,
.woocommerce ul.order_details li,
.woocommerce .order_details li strong, 
.woocommerce-page .order_details li strong,
.woocommerce .content p,
.woocommerce dl.customer_details{
	text-align: left;	
	color: #515151;
	font-family: inherit;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	border: 0;	
	margin: 0px;
}

.woocommerce p.woocommerce-info{
	margin: 0px 0px 30px 0px;
}

.woocommerce h2{
	font-family: inherit;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 30px;
	border-top: 1px solid #ACACAC;	
	padding-top: 30px;
}

.woocommerce .addresses .title h3,
div.pp_woocommerce #respond h3,
.woocommerce .checkout h3{
	font-family: inherit;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 20px;	
}

div.woocommerce header{
	height: auto;
	border: 0px;
	text-align: left;
	margin: 0px;
	position: relative;
}

.woocommerce .addresses{
	margin: 10px 0px 30px 0px;
}

.woocommerce nav.woocommerce-pagination ul, 
.woocommerce #content nav.woocommerce-pagination ul, 
.woocommerce-page nav.woocommerce-pagination ul, 
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li, 
.woocommerce #content nav.woocommerce-pagination ul li, 
.woocommerce-page nav.woocommerce-pagination ul li, 
.woocommerce-page #content nav.woocommerce-pagination ul li{
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

form.woocommerce-ordering div.newListSelected .SSContainerDivWrapper ul.newList{
	width: 227px;
}

.woocommerce div.product form.cart, 
.woocommerce #content div.product form.cart, 
.woocommerce-page div.product form.cart,
.woocommerce-page #content div.product form.cart{
	margin-top: 20px;
}

div.pp_woocommerce .pp_content_container{
	background: none;
	background-color: #e6e6e6;
}

.woocommerce p.stars, 
.woocommerce-page p.stars{
	font-size: 20px;
	margin-bottom: 20px;
}

input[type="password"],
input[type="email"]{
	font-family: inherit;
	font-size: 14px;
	border: 1px solid #acacac;
	background: none;
	height: 40px;
	margin: 0px 0px 20px 0px;
	color: #515151;
	width: 91%;
	padding: 0px 4%;
	outline: none;
	vertical-align: middle;
}

input[type="password"]:focus,
input[type="email"]:focus,
.woocommerce table.cart td.actions .coupon .input-text:focus, 
.woocommerce #content table.cart td.actions .coupon .input-text:focus, 
.woocommerce-page table.cart td.actions .coupon .input-text:focus, 
.woocommerce-page #content table.cart td.actions .coupon .input-text:focus{
	background-color: #252525;
	color: #ffffff;
} 

.woocommerce table.shop_table, 
.woocommerce-page table.shop_table,
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
	margin-bottom: 35px
}

.woocommerce .checkout #shiptobilling, 
.woocommerce-page .checkout #shiptobilling{
	margin-top: 30px
}

.woocommerce form.checkout #order_review{
	margin-bottom: 30px;
}

.woocommerce table.cart td.actions .coupon .input-text, 
.woocommerce #content table.cart td.actions .coupon .input-text, 
.woocommerce-page table.cart td.actions .coupon .input-text, 
.woocommerce-page #content table.cart td.actions .coupon .input-text{
	font-family: inherit;
	font-size: 14px;
	border: 1px solid #acacac;
	background: none;
	background-color: transparent;
	height: 36px;
	margin: 0px 5px 0px 0px;
	color: #515151;
	padding: 0px 4%;
	outline: none;
	vertical-align: middle;
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}

.woocommerce table.shop_attributes, 
.woocommerce-page table.shop_attributes{
	margin-bottom: 0px;
}

.woocommerce .quantity, 
.woocommerce #content .quantity, 
.woocommerce-page .quantity, 
.woocommerce-page #content .quantity{
	height: 36px;
}

.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty {
	line-height: 34px;
}

.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty{
	height: 34px;
}

.woocommerce .quantity .plus, 
.woocommerce .quantity .minus, 
.woocommerce #content .quantity .plus, 
.woocommerce #content .quantity .minus, 
.woocommerce-page .quantity .plus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page #content .quantity .plus, 
.woocommerce-page #content .quantity .minus{
	height: 18px;
	line-height: 16px;
}

div.woocommerce{
	margin-bottom: 30px;
}

div.woocommerce p{
	margin-bottom: 10px;
}

.woocommerce form .form-row .required, 
.woocommerce-page form .form-row .required{
	color: #515151;
}

.woocommerce form .form-row label, 
.woocommerce-page form .form-row label{
	margin: 10px 0 5px 0px;
}

div.woocommerce .lost_reset_password{
	display: inline-block;
}

.term-description{
	margin-bottom: 30px;
}

form.woocommerce-ordering div.newListSelected {
	background: none !important;
	background-image: url('../img/select-bg-black.png') !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;	
	color: #515151;
}

.woocommerce .woocommerce-ordering, 
.woocommerce-page .woocommerce-ordering{
	margin-right: 4px;
	margin-top: -7px;	
}

.woocommerce ul.products li.product a.button, 
.woocommerce-page ul.products li.product a.button,
.woocommerce_shortcode ul.products li.product a.button{
	padding: 2px 15px;
	font-size: 14px;
	line-height: 16px;
	outline: none;
}

.woocommerce div.product div.summary p.price,
.woocommerce-page div.product div.summary p.price{
	font-size: 20px;
	font-style: italic;
}

.woocommerce ul.products li.product .onsale, 
.woocommerce-page ul.products li.product .onsale{
	margin: -15px -10px 0 0;
}

.woocommerce span.onsale, 
.woocommerce-page span.onsale{
	background: none;
	background-color: #252525;
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	text-shadow: 0 0 0;
	font-weight: 400;
}

.woocommerce ul.cart_list li a, 
.woocommerce-page ul.cart_list li a, 
.woocommerce ul.product_list_widget li a, 
.woocommerce-page ul.product_list_widget li a{
	text-decoration: none;
	font-size: 14px;
}

.woocommerce ul.cart_list li ins, 
.woocommerce-page ul.cart_list li ins, 
.woocommerce ul.product_list_widget li ins, 
.woocommerce-page ul.product_list_widget li ins{
	text-decoration: none;
}

.woocommerce ul.cart_list li .amount, 
.woocommerce-page ul.cart_list li .amount, 
.woocommerce ul.product_list_widget li .amount, 
.woocommerce-page ul.product_list_widget li .amount{
	font-size: 14px;
}

.woocommerce ul.cart_list li img, 
.woocommerce-page ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.product_list_widget li img {
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	width: 70px;
}

.product-categories li.cat-item a{
	font-size: 14px;
	text-decoration: none;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: none;
	background-color: #00c6ff;
}

.woocommerce .widget_shopping_cart .total, 
.woocommerce-page .widget_shopping_cart .total{
	border: 0px;
	padding: 0;
}

.woocommerce div.product div.images div.thumbnails a, 
.woocommerce-page div.product div.images div.thumbnails a, 
.woocommerce #content div.product div.images div.thumbnails a, 
.woocommerce-page #content div.product div.images div.thumbnails a{
 margin-bottom: 10px;
}

.woocommerce .widget_price_filter .price_slider_amount button.button, 
.woocommerce-page .widget_price_filter .price_slider_amount button.button{
 padding: 2px 15px;
 font-size: 14px;
 line-height: 16px; 
 margin-top: 5px;
}

.woocommerce .widget_price_filter .price_slider_amount .price_label, 
.woocommerce-page .widget_price_filter .price_slider_amount .price_label{
 font-size: 14px;
 line-height: 30px;
 color: #515151;
}

.woocommerce_cart_items{
	float: right;
	margin-top: -50px;
}

.woocommerce_cart_items img{
	margin-right: 10px;
}

.woocommerce_cart_items a{
	font-size: 14px;
	text-decoration: none;
	font-style: italic;
}

.woocommerce_cart_items a:hover{
	text-decoration: underline;
}

.woocommerce_shortcode{
	display: block;
	position: relative;
	margin: 0px 0px;
	overflow: hidden;
}

.woocommerce_shortcode ul{
	display: block;
}

.woocommerce_shortcode ul li{
	float: left;
	margin: 0 3.8% 0 0;
	padding: 0;
	position: relative;
	width: 22.05%;
	margin-left: 0;
}

.woocommerce_shortcode ul li:last-child{
	margin-right: 0px;
}

.woocommerce_shortcode ul li .image img{
	width: 100%;
}

.woocommerce_shortcode ul li h3{
	padding: 7.5px 0px;
}

.woocommerce_shortcode ul li h3 a{
	text-decoration: none;
}

.woo_order_recive,
.woo_cart_empty{
	font-size: 25px;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	font-family: "Source Sans Pro", sans-serif;	
}

.woo_login_form{
	font-size: 25px;
	font-weight: 300;
	font-style: italic;
	font-family: "Source Sans Pro", sans-serif;		
}

.woocommerce-account .woocommerce h2{
	border: 0px;
	margin-top: 0px;
	padding-top: 10px;
}

.woocommerce ul.products li.product a img, 
.woocommerce-page ul.products li.product a img{
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}

.woo_cart_emtpty_button{
	text-align: center;
}

.woo_cart_empty_holder{
	padding: 40px 0px;
}

.woo_separator{
	background-color: #252525;
	height: 1px;
	margin: 30px auto;
	width: 60px;	
}

.woocommerce-account .addresses .address address{
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	line-height: 20px;
}

.woocommerce-account .addresses .address header.title a{
	margin-top: 25px;
	font-size: 13px;
	font-weight: 600;	
}

.woocommerce form .form-row input.input-text, 
.woocommerce-page form .form-row input.input-text, 
.woocommerce form .form-row textarea, 
.woocommerce-page form .form-row textarea{
	padding: 0px 15px;
}

.woo_edit_adress{
	display: inline-block;
}

.woocommerce .two_columns_25_75 .column_inner ul.products li.product, 
.woocommerce-page .two_columns_25_75 .column_inner ul.products li.product,
.woocommerce .two_columns_75_25 .column_inner ul.products li.product, 
.woocommerce-page .two_columns_75_25 .column_inner ul.products li.product,
.two_columns_75_25 .column_inner .woocommerce ul.products li.product, 
.two_columns_25_75 .column_inner .woocommerce ul.products li.product{
	width: 30.79%;
}

.woocommerce .two_columns_66_33 .column_inner ul.products li.product, 
.woocommerce-page .two_columns_66_33 .column_inner ul.products li.product,
.woocommerce .two_columns_33_66 .column_inner ul.products li.product, 
.woocommerce-page .two_columns_33_66 .column_inner ul.products li.product,
.two_columns_66_33 .column_inner .woocommerce ul.products li.product, 
.two_columns_33_66 .column_inner .woocommerce ul.products li.product{
	width: 48%;
}

.widget_shopping_cart_content p.buttons a{
	margin: 10px 0px;
	padding: 8px 14px;
}

/*********************Variation and Color switch plugin*************************/

form.variations_form table tbody tr td select{
	width: 100%;
	color: #ffffff;
	height: 38px;
	line-height: 38px;
	padding: 0px;
	background-color: #383838;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	font-family: inherit;
    padding: 6px 5px;
	border: 0px;
    margin-bottom: 10px;
    outline: none;
}

form.variations_form table tbody tr td select option{
	color: #252525;
	background-color: #cccccc;
}

form.variations_form table tbody tr{
    margin-bottom: 10px;
}

form.variations_form table tbody tr td.label{
	padding-top: 10px;
}
